body {
  margin: 0;
  font-family: sans-serif;
  background: linear-gradient(to top right, #ffd6e0, #ffeef5);
  overflow: hidden;
}

/* SEMUA PAGE NIMPA SATU SAMA LAIN */
.page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  opacity: 0;
  pointer-events: none;
  transition: 0.6s ease;
}

/* PAGE AKTIF */
.page.active {
  opacity: 1;
  pointer-events: auto;
}

/* BUTTON */
button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background: #ff4d6d;
  color: white;
  cursor: pointer;
}

.buket {
  width: 220px;
  height: 220px;
  margin-top: 30px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  gap: 8px;
}

.flower-item {
  font-size: 28px;
  opacity: 0;
  transform: scale(0);
  transition: 0.5s ease;
}

.flower-item.show {
  opacity: 1;
  transform: scale(1);
}
